@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Platypi", sans-serif;
}
body{ 
    background-color: #643645; 
    border-image: fill 0 linear-gradient(#0003,#000);            
    height: 100vh;
    display: flex;            
    justify-content: center;
    align-items: center;            
}        

.container{
    background-color: #b29ba2;
    width: 400px;
    height: 350px;       
    text-align: center;          
    border-radius: 20px;
    padding: 100px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: hide 2s linear;
}
@keyframes hide{
    0%,25%{ opacity: 0;}
    50%{ opacity: 0.4;}
    70%{ opacity: 0.8;}            
    100%{ opacity: 1;}
}

.myForm input,button{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    outline: 0;   
    background-color: #eaf3f5;
    border-radius: 2px;    
}         

/* input:last-of-type{
    background-color: #2E8A99;
    font-size: 15px;
}
input:last-of-type:hover{
    transform: scale(0.93);
    transition: transform 3s;    
    background-color: #256e7a;             
} */

.mas{
    font-size: 12px;
    margin-top: 10px;
    color: #27374D;
} 
.mas a{
    text-decoration: none;
    color: #2E8A99;
}

button {
font-size: 18px;
background-color: #256e7a;
letter-spacing: 2px;
text-transform: uppercase;
display: inline-block;
text-align: center;
font-weight: bold;
padding: 0.7em 2em;
position: relative;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
color: white;
text-decoration: none;
transition: 0.3s ease all;
z-index: 1;
}

button:before {
transition: 0.5s all ease;
position: absolute;
top: -20%;
left: 0;
right: 0;
bottom: -20%;
opacity: 0;
content: '';
background-color: #27374D;
z-index: -1;
}

button:hover, button:focus {
color: #00ffdd;
}

button:hover:before, button:focus:before {
transition: 0.5s all ease;
top: 0;
bottom: 0;
opacity: 1;
}

button:active {
transform: scale(0.9);
}