@font-face{
    font-family: 'Lale';
    src: url(../../fonts/lalezar.ttf) format(ttf),
         url(../../fonts/lalezar.woff) format(woff);
 }
 *{
    margin: 0;
    padding: 0;
    font-family: Lale,sans-serif;
    box-sizing: border-box; 
}
 html{ scroll-behavior: smooth; }
 #header{
    height: 900px;
    background: dimgray url(../../images/laptop.jpg) 
    no-repeat center;
    background-size: cover;         
    background-blend-mode: multiply;
    opacity: 0.9;
    text-align: center;   
    position: relative;
}
.menu{
    width: 100%;
    list-style-type: none;    
    direction: rtl;
    z-index: 1;
}
.menu li{ display: inline-block; }
.menu li a{  
    margin-top: 50px;
    padding: 5px 20px;  
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;      
    display: inherit; 
}
.menu li a:hover{color: cadetblue;}
.htext{ 
    margin-top: 60px;
    position: relative;
}
.htext h1, .htext p{
    font-size: 50px; 
    color: #ffffff;   
}
.htext p{
    margin-top: 10px;
    display: inline-block;    
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid rgb(248, 161, 54);
    border-radius: 30px;
}
#member{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}
#member h2{
    color: slateblue;    
    font-size: 30px;            
}
#picon{
    width: 90%;
    margin: auto;
    display: flex;
    justify-self: center;
    padding-top: 50px;
}
.boxIcons{
    width: 500px; 
    height: 450px;   
    box-shadow: 1px 2px 6px dimgray;   
    padding: 10px 20px;
    margin-left: 40px;
    overflow-y: scroll;
}
.boxIcons,.boxIcons img {border-radius: 30px;}
.boxIcons img{
    /* margin-top: 20px; */
    width: 150px;
}
.boxIcons h3{color: teal;}
.boxIcons p{
    text-align: justify;
    margin-top: 10px;
}
#about{
    margin-top: 50px;
    padding-top: 50px;
    height: 900px;
    background: dimgray url(../../images/notebook.jpg) 
    no-repeat center;
    background-size: cover;
    background-blend-mode: color-burn;
    background-attachment: fixed;
}
.circle{
    background-color: cadetblue;
    margin: auto;
    margin-top: 70px;
    width: 500px;
    height: 500px;    
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;    
    text-align: center;    
    padding: 60px 90px;
    color: black;
}
.circle h2{ color: #ffffff; }
.circle p{
    text-align: justify;
    margin-top: 30px;    
}
