*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu{   
    width: 100%;      
    padding: 10px; 
    list-style: none;
    background-color: #0388a8;    
    position: fixed;
    z-index: 1;       
    overflow: hidden;       
}
#menu li{ float: right; }
#menu li a{    
    text-align: center;
    text-decoration: none;
    font-size: 25px;    
    color: #ffffff;
    padding: 10px 20px;
    margin: 20px 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;   
    display: inline-block;  
    /* box-sizing: border-box;*/
}
#posIt{ padding-right: 20px;}

#menu li a:hover{
    background-color: #f47a39;
    color: #243544;    
    border-radius: 10px;
}
#logo{
    width: 70px;
    height: 70px;
    /* position: absolute;
    top: 23px;
    left: 36px; */
    margin-top: 10px;
    margin-left: 20px;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 50%;
}
#home{     
    background-color: #243544; 
    background-position: center;
    background-size: cover;    
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;    
    margin-top: -4px;    
}
.banner{    
    height: 500px;
    width: 50%;     
}
#admin{
    float: right;
    width: 370px;
    height: 370px;
    margin-top: 200px;
    margin-right: 100px;    
    border-radius: 36px;
    z-index: 2;    
    animation: zoom 5s infinite;    
}
@keyframes zoom{
    0%,100%{ transform: scale(0.8); } 
    50%{ transform: scale(0.96); }
}
.B_text{
    color: #4b86c3;         
    margin-top: 220px;
    text-align: left;    
    font-weight: bold;
    z-index: 3; 
    margin-left: -10px;
}
.B_text:hover{
    margin-top: 240px;
    transition: margin-top 2s;
    width: 440px;
}
.B_text h1{   
    font-weight: normal;    
    padding-left: 50px;
    padding-top: 30px;    
    font-size: 36px;    
    font-family: "Carter One", system-ui;   
}
.B_text p{
    font-size: 24px;
    font-family: "M PLUS Rounded 1c", sans-serif;    
    margin-top: 10px;    
}
.B_button{
    padding-left: 40px;    
    margin-top: 30px;    
}
.B_button a{
    display: inline-block;
    /* width: 120px; */
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: "M PLUS Rounded 1c", sans-serif;
    border-radius: 30px;     
}
#signBtn{ 
    background-color: #5d8374; 
    padding: 10px 22px;
}
#signBtn:hover{ 
    background-color: #ffffff;
    color: #0388a8;   
}
#loginBtn{ 
    background-color: #f47a39;
    margin-left: 20px; 
    padding: 10px 20px;
}
#loginBtn:hover{
    background-color: #0388a8;
    color: #ffffff;
}
@media screen and (max-width:880px){
    #menu li a{ 
        font-size: 20px;   
        margin: 20px 5px; 
    }
    #home{    
        height: 980px;
        flex-direction: column;        
        align-items: center;
    }
    #admin{
        float: none;
        margin-top: 190px;
        width: 340px; height: 340px;
    }
    .B_text{                 
        margin-top: 44px;        
        margin-left: 10px;
    }
    .B_text p{ 
        font-size: 20px; 
        text-wrap: nowrap;
    }
    .B_text:hover{
        margin-top: 55px;       
        width: 470px;
    }
}

#aboutMe{
    width: 100%;
    padding: 70px 0 200px;
}
.aboutMe_div{
    text-align: center;
    padding-bottom: 55px;           
}
.aboutMe_div h3{
    font-weight: normal;
    font-size: 30px;
    color: #5d8374;
    font-family: "Carter One", system-ui;    
    margin-bottom: 12px;
}
.aboutMe_div p{
    color: #243544;
    display: inline-block;
    font-family: "M PLUS Rounded 1c", sans-serif;
    z-index: 3;
    font-weight: bold;     
}
.aboutMe_box{
    display: flex;    
    justify-content: center;
    width: 80%;  
    margin: auto;   
    align-items: center;
}
.boxIcon{ 
    margin-left: 20px;
    border: 0.1px solid #5d8374;
    border-radius: 18px;
    width: 25.5%;
    padding: 30px 0;
    text-align: center;     
}
.boxIcon:hover{
    box-shadow: 2px 1px 10px #5d8374;    
}
.boxIcon img{
    width: 60px;
    height: 60px;
    /* margin-top: 40px; */
}
.aboutMe_box h2{
    color: #0388a8;
    margin-top: 20px;    
}
.education{
    font-family: "M PLUS Rounded 1c", sans-serif;
    list-style-type: none;    
    margin-top: 20px;
    /* padding-bottom: 30px; */
    font-weight: bold; 
    line-height: 30px;   
    text-wrap: pretty;
}
@media screen and (max-width:880px){
    .aboutMe_box{ flex-direction: column; }    
    .boxIcon{ 
        margin-top: 20px;
        width: 60%;                     
    }
}

#part3{        
    background-color: #f47a39;   
    padding-bottom: 200px; 
}
.works-div{
    padding: 70px 0;
    text-align: center;    
}
.works-div h2{
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    font-family: "Carter One", system-ui;     
}
.works-div p{
    color: #243544;
    display: inline-block;
    font-family: "M PLUS Rounded 1c", sans-serif;
    z-index: 3;
    font-weight: bold;    
    margin-top: 12px;    
}

.works{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;    
}
.works-box{
    flex-basis: 30.3333%;    
    text-align: center;
    position: relative; 
    color: #fff; 
    margin-left: 20px;
}
.works-box img{
    width: 100%;    
    /* margin-top: 40px; */
    border-radius: 6px;
}
.overlay{
    width: 100%;
    height: 60%;    
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border-radius: 6px;
    background: linear-gradient(rgba(0,0,0,0.2),#040a3b);
    opacity: 0;   
    transform: scaleY(0.93);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Carter One", system-ui;
    font-size: 14px;   
}
.works-box:hover .overlay{
    opacity: 0.7;
} 
@media screen and (max-width:880px) {
    .works{ flex-direction: column; }
    .works-box{         
        width: 60%;
        margin-bottom: 20px;
    }
}

.footer{    
    border-image: fill 0 linear-gradient(#fff,#0388a8);    
    text-align: center;
    padding: 90px 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
}
.footer h4{
    font-family: "Carter One", system-ui;
    font-weight: normal; 
    margin-bottom: 9px;
    font-size: 20px;
    color: rgb(150, 54, 150);
}
.footer p{
    opacity: 0.95;
    margin: auto;
    margin-bottom: 30px;
    font-size: 15px;
    color: #243544;
    display: inline-block;
}
input[type=email]{
    padding: 9px;
    width: 240px;
    opacity: 0.8;
    outline: 0;
}
input{
    font-family: "Carter One", system-ui;  
    border-radius: 3px;
    border: 0;
}
input[type=submit]{
    padding: 9px 20px;
    color: #fff;
    background-color: rgb(150, 54, 150);
    margin-left: 5px;
}
input[type=submit]:hover{
    background-color: #9e9d9d;
    color: #243544;    
}

