@font-face {
  font-family: "arad";
  src: url(../../fonts/AradFDVF.ttf) format(truetype);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: arad,sans-serif;
}
body {
  border-image: fill 0 linear-gradient(#000b30, rgb(71, 141, 36));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.excoin-box {
  width: 500px;
  background-color: rgb(236, 236, 230);
  padding: 20px;
  border-radius: 11px;   
}
.excoin-box:hover {
  box-shadow: 0 2px 5px 0.02rem #1f201f;
  cursor: pointer;
}
.excoin-box .eb-pic img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
  margin-bottom: 13px;
}

.eb-header-nav {
  margin: 30px 0 20px;
  font-size: 11px;
  font-weight: 550;
}

.nav-Item1 {
  padding: 7px;
  transition: all 0.3s linear;
}
.nav-Item1:hover {
  background-color: rgb(193, 233, 221);
  border-radius: 17px;
}
.nav-Item1 img {
  width: 18px;
  margin-left: 6px;
}
.nav-Item2 {
  background-color: #fff0f0;
  color: #f55656;
  padding: 1px 6px;
  border-radius: 10px;
  box-shadow: 0 1px 0.3ch 0 #ddd3d3;
}

.eb-caption {
  font-size: 0.77rem;
}
.ebc1-right svg {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  background-color: #f2f8ff;
  margin-left: 5px;
}

.ebc2 {
  margin: 15px 0 20px;
  line-height: 20px;
}
.ebc2,
.ebc3 span,
.ebc1-left {
  opacity: 70%;
  font-weight: 500;
}
.ebc3 span {
  margin-left: 3px;
  font-size: 11px;
}

.ebc4 {
  display: flex;
  margin-top: 20px;
}
.ebc4 button {
  border: 0;
  margin: 0 3px;
  opacity: 60%;
  padding: 4px;
}
.ebc4 button svg {
  margin-left: 2px;
}
.ebc4 button:hover {
  background-color: rgb(196, 187, 187);
  border-radius: 10px;
}

/*  link setting  */
.nav-Item1 a,
.ebc3 a {
  color: #0d82ff;
  text-decoration: none;
  border-bottom: 1px #0d82ff solid;
}

/*  flex box setting  */
:is(
  .ebc1,
  .ebc3,
  .ebc4 button,
  .ebc1-right,
  .eb-header-nav,
  .nav-Item1,
  .nav-Item2
) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
